FORMAT: 1A
HOST: http://private-7871e-carltonsoftware.apiary-mock.com

# TabsX API v1.0

The tabsX API provides a simple way for developers to make use of data contained within a tabsX system,
in a platform and language agnostic way. This allows developers with no knowledge of the internal 
workings of tabsX to develop websites, iPhone apps, or to provide data to affiliates easily,
without having to worry about how prices are calculated, what extras should be added onto a booking, 
or whether a booking is allowed based on a property's short-break rules.  For more information please 
see [our github wiki](https://github.com/CarltonSoftware/api-documentation/wiki).

## HTTP request headers

  * Content-Type - The format of the request body - only application/json is supported at this time
  * Accept-Language - The language that you want the descriptions returned in - not currently supported
  
## HTTP response codes

  * 200 - The request completed OK
  * 201 - The specified object was created sucessfully
  * 204 - The request completed OK (No Content)
  * 400 - The request was not understood
  * 403 - You do not have access to the requested object
  * 404 - The object that was requested doesn't exist
  * 405 - The resource exists, but the wrong method was used. eg. using GET /booking-enquiry
  * 500 - There was an internal API error
  * 501 - You have used a method (GET/PUT/POST/DELETE/etc) not supported by this endpoint
  
**More codes including error codes can be found [here](https://github.com/CarltonSoftware/api-documentation/wiki/Error-Codes).**

## HTTP response headers

  * Content-Type - The format of the response body eg. application/json
  * Expires - If a created object only exists for a limited amount of time, it's expiration date and time will be contained here
  * Location - When an object has been created following a POST, it's location will be contained here

# Group Root

## Api Resource [/]
Get an API description. We recommend caching this response for 15 minutes to help reduce calls and bandwidth usage.

## List all resources [GET]

+ Response 200 (application/json)

        {
            "apiRoot": "http://private-54a33c-tabsx.apiary-mock.com",
            "apiVersion": "0.2",
            "brands": {
                "SS": {
                    "brandcode": "SS",
                    "name": "Suffolk Secrets",
                    "address": "The Old Water Tower, Southwold",
                    "website": "http://www.suffolk-secrets.co.uk",
                    "email": "holidays@suffolk-secrets.co.uk",
                    "telephone": "+44 (0)1502 722717",
                    "vendorName": "suffolkholidays",
                    "numberOfProperties": 1
                },
                "NO": {
                    "brandcode": "NO",
                    "name": "Norfolk Country Cottages",
                    "address": "Carlton House, Market Place, Reepham",
                    "website": "http://www.norfolkcottages.co.uk",
                    "email": "info@norfolkcottages.co.uk",
                    "telephone": "+44 (0)1603 871872",
                    "vendorName": "norfolkcottage",
                    "numberOfProperties": 0
                }
            },
            "totalNumberOfProperties": 1,
            "description": "The NCC API - authorised access only. To request access email access@api.NCC",
            "constants": {
                "availabilityCode": [
                    {
                        "id": "B",
                        "label": "booked by a customer - fully paid"
                    },
                    {
                        "id": "O",
                        "label": "booked by the owner"
                    },
                    {
                        "id": "F",
                        "label": "booked by a customer - flexilet"
                    },
                    {
                        "id": "S",
                        "label": "booked by a customer (short break) - fully paid"
                    },
                    {
                        "id": "P",
                        "label": "booked by a customer - no payment"
                    },
                    {
                        "id": "Q",
                        "label": "booked by a customer (short break) - no payment"
                    },
                    {
                        "id": "D",
                        "label": "booked by a customer - deposit paid"
                    },
                    {
                        "id": "H",
                        "label": "hold"
                    },
                    {
                        "id": "W",
                        "label": "warning"
                    },
                    {
                        "id": "_",
                        "label": "available"
                    }
                ],
                "attributes": [
                    {
                        "code": "ATTR01",
                        "label": "Washing Machine",
                        "type": "Boolean"
                    },
                    {
                        "code": "ATTR03",
                        "label": "Distance from nearest Pub",
                        "type": "Number"
                    },
                    {
                        "code": "ATTR04",
                        "label": "Broadband",
                        "type": "Boolean"
                    }
                ],
                "extras": [
                    {
                        "code":"BKFE",
                        "label":"Booking Fee",
                        "type":"compulsory"
                    },
                    {
                        "code":"COT",
                        "label":"Cot Hire",
                        "type":"optional"
                    },
                    {
                        "code":"PET",
                        "label":"Pet Fee",
                        "type":"optional"
                    }
                ],
                "searchTerms":{
                    "core":[
                        {
                            "code":"accommodates",
                            "label":"Amount the property sleeps",
                            "type":"integer"
                        },
                        {
                            "code":"bedrooms",
                            "label":"Amount of bedrooms",
                            "type":"integer"
                        },
                        {
                            "code":"area",
                            "label":"Area code of the property",
                            "type":"string"
                        },
                        {
                            "code":"location",
                            "label":"Location code of the property",
                            "type":"string"
                        },
                        {
                            "code":"reference",
                            "label":"Booking system reference",
                            "type":"string"
                        },
                        {
                            "code":"pets",
                            "label":"Set to true if the property accepts pets",
                            "type":"boolean"
                        },
                        {
                            "code":"rating",
                            "label":"Property Star Rating",
                            "type":"integer"
                        },
                        {
                            "code":"name",
                            "label":"Property name, can be a fuzzy search",
                            "type":"string"
                        },
                        {
                            "code":"promote",
                            "label":"Promoted property check",
                            "type":"boolean"
                        },
                        {
                            "code":"specialOffer",
                            "label":"True if the property has special offers",
                            "type":"boolean"
                        },
                        {
                            "code":"fromDate",
                            "label":"Date string, dd-mm-YYYY format",
                            "type":"string"
                        },
                        {
                            "code":"toDate",
                            "label":"Date string, dd-mm-YYYY format",
                            "type":"string"
                        },
                        {
                            "code":"nights",
                            "label":"Number of nights.  Will not function without a fromDate",
                            "type":"integer"
                        },
                        {
                            "code":"polygon",
                            "label":"Comma separated list of long\/lats",
                            "type":"string"
                        },
                        {
                            "code":"coordinates",
                            "label":"Comma separated lat\/long.  Can be used in conjunction with distance search",
                            "type":"string"
                        },
                        {
                            "code":"distance",
                            "label":"Radius of coordinate catchment area in km.",
                            "type":"string"
                        }
                    ],
                    "attributes":[
                        {
                            "code": "ATTR01",
                            "label": "Washing Machine",
                            "type": "Boolean"
                        },
                        {
                            "code": "ATTR03",
                            "label": "Distance from nearest Pub",
                            "type": "Number"
                        },
                        {
                            "code": "ATTR04",
                            "label": "Broadband",
                            "type": "Boolean"
                        }
                    ],
                    "composites":[]
                }
            }
        }
        
        
# Group Property resources


## Properties represent inividual lettable properites [/property]

### Search/List Properties [GET]

+ Response 200 (application/json)

        {
            "searchId": 3612,
            "totalResults": 1,
            "pageSize": 10,
            "page": 1,
            "nextPage": null,
            "previousPage": null,
            "filter": null,
            "orderBy": null,
            "results": [
                {
                    "id": "mousecott_SS",
                    "propertyRef": "mousecott",
                    "brandCode": "SS",
                    "url": "http://private-7871e-carltonsoftware.apiary-mock.com/property/mousecott_SS",
                    "accountingBrand": "SS",
                    "slug": "mouse-cottage-southwold",
                    "name": "Mouse Cottage",
                    "address": {
                                "addr1": "The Street",
                                "addr2": "",
                                "town": "Southwold",
                                "county": "Suffolk",
                                "postcode": "IP1 2AB",
                                "country": "GB"
                            },
                            "coordinates": {
                                "latitude": 52.2345,
                                "longitude": 1.2345
                            },
                            "area": {
                                "code": "COAST",
                                "name": "Suffolk Coast"
                            },
                            "location": {
                                "code": "SOUTH",
                                "name": "Southwold",
                                "coordinates": {
                                    "latitude": 52.2345,
                                    "longitude": 1.2345,
                                    "radius": 5
                                }
                            },
                    "brands": {
                        "SS": {
                            "teaser": "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
                            "short": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                            "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                            "pricing": {
                                "bookingBrand": "SS",
                                "ranges": {
                                    "2012": {
                                        "high": 998,
                                        "low": 325,
                                        "allowBookingOnWeb": true
                                    },
                                    "2013": {
                                        "high": 1024,
                                        "low": 275,
                                        "allowBookingOnWeb": true
                                    }
                                },
                                "searchPrice": {
                                    "fromDate": "2012-07-01",
                                    "toDate": "2012-07-08",
                                    "available": true,
                                    "price": {
                                        "outstandingBalance": 148.45,
                                        "basicPrice": 123.45,
                                        "extras": {
                                            "BKFE": {
                                                "quantity": 1,
                                                "description": "Booking Fee",
                                                "price": 25.00,
                                                "totalPrice": 25.00,
                                                "type": "compulsory"
                                            }
                                        },
                                        "totalPrice": 148.45,
                                        "securityDeposit": 100.00,
                                        "depositAmount": 100.00
                                    }
                                }
                            }
                        }
                    },
                    "accommodates": 10,
                    "accommodationDescription": "1 king size bedroom, 2 smaller rooms",
                    "bedrooms": 4,
                    "changeOverDay": "Saturday",
                    "rating": 3,
                    "pets": true,
                    "promote": true,
                    "attributes": {
                        "Washing Machine": true,
                        "Broadband": true,
                        "Distance From Pub": 2
                    },
                    "images": [
                        {
                            "filename": "filename1.png",
                            "alt": "Mouse Cottage - blue front door",
                            "title": "Mouse Cottage",
                            "width": 640,
                            "height": 480,
                            "url": "http://private-7871e-carltonsoftware.apiary-mock.com/image/original/1x1/filename1.png"
                        },
                        {
                            "filename": "filename2.png",
                            "alt": "Mouse Cottage - courtyard garden",
                            "title": "Mouse Cottage garden",
                            "width": 480,
                            "height": 640,
                            "url": "http://private-7871e-carltonsoftware.apiary-mock.com/image/original/1x1/filename2.png"
                        }
                    ],
                    "specialOffers": [
                         {
                            "propref": "mousecott",
                            "fromDate": "2012-06-09",
                            "toDate": "2012-07-14",
                            "description": "10% discount for full week stays between 9 June and 14 July 2012",
                            "type": "%",
                            "amount": 10
                         },
                         {
                            "propref": "mousecott",
                            "fromDate": "2012-07-14",
                            "toDate": "2012-07-21",
                            "description": "50% discount for full week stays between 14 July 2012 and 21 July 2012",
                            "type": "%",
                            "amount": 50
                         }
                    ],
                    "calendar": "http://carltonsoftware.apiary.io/property/mousecott_SS/calendar",
                    "booking": "http://carltonsoftware.apiary.io/booking",
                    "ownerCode": "JBLOG"
                }
            ]
        }




## Return a count of property based on filters on individual property attributes [/property/facet]

### Search/List Property Facets [GET]

+ Response 200 (application/json)

        {
            "area":{
                "COAST":1
            },
            "location":{
                "SOUTH":1
            },
            "changeDay":{
                "Saturday":6
            },
            "accommodates":{
                "10":1
            },
            "bedrooms":{
                "4":1
            },
            "rating":{
                "4":1
            },
            "pets":{
                "true":1,
                "false":0
            },
            "promote":{
                "true":1,
                "false":0
            },
            "specialOffer":{
                "true":1,
                "false":0
            },
            "attributes":{
                "ATTR01": 1,
                "Washing Machine": 1,
                "ATTR04": 1,
                "Broadband": 1
            },
            "composites":{}
        }




## Retrieve an individual property resource [/property/mousecott_SS]

### Property [GET]

+ Response 200 (application/json)

        {
            "id": "mousecott_SS",
            "propertyRef": "mousecott",
            "brandCode": "SS",
            "url": "http://private-7871e-carltonsoftware.apiary-mock.com/property/mousecott_SS",
            "accountingBrand": "SS",
            "slug": "mouse-cottage-southwold",
            "name": "Mouse Cottage",
            "address": {
                "addr1": "The Street",
                "addr2": "",
                "town": "Southwold",
                "county": "Suffolk",
                "postcode": "IP1 2AB",
                "country": "GB"
            },
            "coordinates": {
                "latitude": 52.2345,
                "longitude": 1.2345
            },
            "area": {
                "code": "COAST",
                "name": "Suffolk Coast"
            },
            "location": {
                "code": "SOUTH",
                "name": "Southwold",
                "coordinates": {
                    "latitude": 52.2345,
                    "longitude": 1.2345,
                    "radius": 5
                }
            },
            "brands": {
                "SS": {
                    "teaser": "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
                    "short": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                    "pricing": {
                        "bookingBrand": "SS",
                        "ranges": {
                            "2012": {
                                "high": 998,
                                "low": 325,
                                "allowBookingOnWeb": true
                            },
                            "2013": {
                                "high": 1024,
                                "low": 275,
                                "allowBookingOnWeb": true
                            }
                        }
                    }
                }
            },
            "accommodates": 10,
            "accommodationDescription": "1 king size bedroom, 2 smaller rooms",
            "bedrooms": 4,
            "changeOverDay": "Saturday",
            "rating": 3,
            "pets": true,
            "promote": true,
            "attributes": {
                "Washing Machine": true,
                "Broadband": true,
                "Distance From Pub": 2
            },
            "images": [
                {
                    "filename": "filename1.png",
                    "alt": "Mouse Cottage - blue front door",
                    "title": "Mouse Cottage",
                    "width": 640,
                    "height": 480,
                    "url": "http://private-7871e-carltonsoftware.apiary-mock.com/image/original/1x1/filename1.png"
                },
                {
                    "filename": "filename2.png",
                    "alt": "Mouse Cottage - courtyard garden",
                    "title": "Mouse Cottage garden",
                    "width": 480,
                    "height": 640,
                    "url": "http://private-7871e-carltonsoftware.apiary-mock.com/image/original/1x1/filename2.png"
                }
            ],
            "specialOffers": [
                {
                    "propref": "mousecott",
                    "fromDate": "2012-06-09",
                    "toDate": "2012-07-14",
                    "description": "10% discount for full week stays between 9 June and 14 July 2012",
                    "type": "%",
                    "amount": 10
                },
                {
                    "propref": "mousecott",
                    "fromDate": "2012-07-14",
                    "toDate": "2012-07-21",
                    "description": "50% discount for full week stays between 14 July 2012 and 21 July 2012",
                    "type": "%",
                    "amount": 50
                }
            ],
            "calendar": "http://private-7871e-carltonsoftware.apiary-mock.com/property/mousecott_SS/calendar",
            "booking": "http://private-7871e-carltonsoftware.apiary-mock.com/booking",
            "ownerCode": "JBLOG"
        }


## Retrieve a map of calendar data relevant to the Property [/property/mousecott_SS/calendar]

The calendar will be returned as a map of dates, in ISO 8601 (2012-07-02) format, against object values.
See documentation for availability code meanings.

### Calendar [GET]

+ Response 200 (application/json)

        {
            "2012-12-29": {
                "available": false,
                "availabilityCode": "O"
            },
            "2012-12-30": {
                "available": false,
                "availabilityCode": "O"
            },
            "2012-12-31": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-01": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-02": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-03": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-04": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-01-05": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-01-06": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-01-07": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-01-08": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-01-09": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-01-10": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-01-11": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-01-12": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-13": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-14": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-15": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-16": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-17": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-18": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-01-19": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-20": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-21": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-22": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-23": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-24": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-25": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-01-26": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-27": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-28": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-29": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-30": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-01-31": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-02-01": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-02-02": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-02-03": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-02-04": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-02-05": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-02-06": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-02-07": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-02-08": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-02-09": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-02-10": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-02-11": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-02-12": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-02-13": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-14": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-02-15": {
                "available": false,
                "availabilityCode": "S",
                "changeoverDay": true
            },
            "2013-02-16": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-02-17": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-18": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-19": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-20": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-21": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-22": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-02-23": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-24": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-25": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-26": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-27": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-02-28": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-01": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-03-02": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-03": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-04": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-05": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-06": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-07": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-08": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-03-09": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-10": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-11": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-12": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-13": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-14": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-15": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-03-16": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-17": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-18": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-19": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-20": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-21": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-03-22": {
                "available": false,
                "availabilityCode": "S",
                "changeoverDay": true
            },
            "2013-03-23": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-03-24": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-03-25": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-26": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-27": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-28": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-03-29": {
                "available": false,
                "availabilityCode": "S",
                "changeoverDay": true
            },
            "2013-03-30": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-03-31": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-04-01": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-04-02": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-04-03": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-04-04": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-04-05": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-04-06": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-04-07": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-04-08": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-04-09": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-04-10": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-04-11": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-04-12": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-04-13": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-04-14": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-04-15": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-04-16": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-04-17": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-04-18": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-04-19": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-04-20": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-21": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-22": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-23": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-24": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-25": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-26": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-04-27": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-28": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-29": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-04-30": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-01": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-02": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-03": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-05-04": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-05-05": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-05-06": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-05-07": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-05-08": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-05-09": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-05-10": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-05-11": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-12": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-13": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-14": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-15": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-16": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-17": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-05-18": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-19": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-20": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-21": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-22": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-23": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-24": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-05-25": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-26": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-27": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-28": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-29": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-30": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-05-31": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-06-01": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-02": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-03": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-04": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-05": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-06": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-07": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-06-08": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-09": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-10": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-11": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-12": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-13": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-14": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-06-15": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-16": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-17": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-18": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-19": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-20": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-21": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-06-22": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-23": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-24": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-25": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-26": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-27": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-28": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-06-29": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-06-30": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-01": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-02": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-03": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-04": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-05": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-07-06": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-07-07": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-07-08": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-07-09": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-07-10": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-07-11": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-07-12": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-07-13": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-14": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-15": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-16": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-17": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-18": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-19": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-07-20": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-21": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-22": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-23": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-24": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-25": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-26": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-07-27": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-28": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-29": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-30": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-07-31": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-01": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-02": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-08-03": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-04": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-05": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-06": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-07": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-08": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-09": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-08-10": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-11": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-12": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-13": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-14": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-15": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-16": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-08-17": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-18": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-19": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-20": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-21": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-22": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-23": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-08-24": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-25": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-26": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-27": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-28": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-29": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-08-30": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-08-31": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-01": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-02": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-03": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-04": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-05": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-06": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-09-07": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-08": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-09": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-10": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-11": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-12": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-13": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-09-14": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-15": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-16": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-17": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-18": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-19": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-20": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-09-21": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-22": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-23": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-24": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-25": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-26": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-27": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-09-28": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-29": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-09-30": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-01": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-02": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-03": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-04": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-10-05": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-10-06": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-10-07": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-10-08": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-10-09": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-10-10": {
                "available": false,
                "availabilityCode": "S"
            },
            "2013-10-11": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-10-12": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-13": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-14": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-15": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-16": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-17": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-18": {
                "available": false,
                "availabilityCode": "B",
                "changeoverDay": true
            },
            "2013-10-19": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-20": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-21": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-22": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-23": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-24": {
                "available": false,
                "availabilityCode": "B"
            },
            "2013-10-25": {
                "available": false,
                "availabilityCode": "O",
                "changeoverDay": true
            },
            "2013-10-26": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-10-27": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-10-28": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-10-29": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-10-30": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-10-31": {
                "available": false,
                "availabilityCode": "O"
            },
            "2013-11-01": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-11-02": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-03": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-04": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-05": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-06": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-07": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-08": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-11-09": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-10": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-11": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-12": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-13": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-14": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-15": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-11-16": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-17": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-18": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-19": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-20": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-21": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-22": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-11-23": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-24": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-25": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-26": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-27": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-28": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-11-29": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-11-30": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-01": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-02": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-03": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-04": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-05": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-06": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-12-07": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-08": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-09": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-10": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-11": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-12": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-13": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-12-14": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-15": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-16": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-17": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-18": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-19": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-20": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-12-21": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-22": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-23": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-24": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-25": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-26": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-27": {
                "available": true,
                "availabilityCode": "_",
                "changeoverDay": true
            },
            "2013-12-28": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-29": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-30": {
                "available": true,
                "availabilityCode": "_"
            },
            "2013-12-31": {
                "available": true,
                "availabilityCode": "_"
            },
            "2014-01-01": {
                "available": true,
                "availabilityCode": "_"
            },
            "2014-01-02": {
                "available": true,
                "availabilityCode": "_"
            }
        }
                
                

## Retrieve a map of calendar data relevant to the Property for a specific year [/property/mousecott_SS/calendar/2014]

The calendar will be returned as a map of dates, in ISO 8601 (2012-07-02) format, against object values.
See documentation for availability code meanings.

### Calendar by year [GET]

+ Response 200 (application/json)

        {
            "2014-01-01": {
                "available": true,
                "availabilityCode": "_"
            },
            "2014-01-02": {
                "available": true,
                "availabilityCode": "_"
            }
        }
        


## Retrieve a list of comments left by customers about this property [/property/mousecott_SS/comment]

### Comments [GET]

+ Response 200 (application/json)

        {
            [
                {
                    "date": "2010-07-31",
                    "name": "Mr J Bloggs",
                    "comment": "We had a great time and the cottage was great ! thank you."
                },
                {
                    "date": "2010-09-10",
                    "name": "Mr T Smith",
                    "comment": "Lovely property in a lovely location."
                }
            ]
        }
        

## Retrieve a list of rooms for this property [/property/mousecott_SS/room]

Note: This is only available if you are using tabsX2.

### Rooms [GET]

+ Response 200 (application/json)

        [
            {
                "id": 1,
                "roomtype": {
                    "id": 3,
                    "name": "double",
                    "sleeps": 2,
                    "description": "Bedroom - One double bed"
                },
                "quantity": 2,
                "description": "Large room with sea views"
            }
        ]
        

## Retrieve a list of security deposits for this property [/property/mousecott_SS/securitydeposit]

Note: This is only available if you are using tabsX2.

### Security Deposits [GET]

+ Response 200 (application/json)

        [
            {
                "id": 1,
                "description": "£250.00 refundable",
                "bookedfromdate": "2013-01-01",
                "bookedtodate": "2020-12-31",
                "holidayfromdate": "2013-01-01",
                "holidaytodate": "2020-12-31",
                "amount": 250,
                "currency": {
                    "id": 1,
                    "code": "GBP",
                    "name": "Pound Sterling",
                    "decimalplaces": 2
                },
                "daysduein": 56,
                "daysdueout": 0,
                "refundable": true,
                "peradult": false,
                "perchild": false,
                "perinfant": false,
                "perperiod": false,
                "pricingperiod": "Week",
                "minimumdays": 0,
                "maximumdays": 999,
                "comments": "",
                "ownerchargecode": {
                    "id": 1,
                    "ownerchargecode": "ADM",
                    "description": "Administration Charge",
                    "vatband": {
                        "id": 2,
                        "vatband": "Standard"
                    },
                    "recharge": false
                },
                "ownerchargeamount": 12.34,
                "defaultforperiod": true
            }
        ]
                

## Returns an array of bookings associated with this property [/property/mousecott_SS/booking]

### Bookings [GET]

+ Response 200 (application/json)

        {
            [
                {
                    "bookingRef": 299463,
                    "propertyRef": "mousecott",
                    "brandCode": "SS",
                    "fromDate": "2013-07-27",
                    "toDate": "2013-08-03",
                    "status": "B",
                    "customer": {
                        "cusref": "JOHNJ001",
                        "surname": "Johnson",
                        "partyDetails": "Mr J Johnson, Ms A Johnson",
                        "adults": 2,
                        "children": 0,
                        "infants": 0
                    },
                    "commission": {
                        "dueToOwner": 563.26,
                        "paidToOwner": 0.00,
                        "outstandingToOwner": 563.26
                    },
                    "price": {
                        "totalPrice": 770.10,
                        "depositPrice": 256.70,
                        "bookingFee": 25.00
                    },
                    "balance": {
                        "dueDate": "2010-10-19",
                        "amount": 510.00
                    },
                    "securityDeposit": {
                        "dueDate": "1900-01-01",
                        "amount": 0.00,
                        "paid": 0.00
                    }
                },
                {
                    "bookingRef": 326589,
                    "propertyRef": "mousecott",
                    "brandCode": "SS",
                    "fromDate": "2011-09-24",
                    "toDate": "2011-10-01",
                    "status": "B",
                    "customer": {
                        "cusref": "SMIS001",
                        "surname": "Smith",
                        "partyDetails": "John Smith, Alice Smith",
                        "adults": 2,
                        "children": 0,
                        "infants": 0
                    },
                    "commission": {
                        "dueToOwner": 192.01,
                        "paidToOwner": 192.01,
                        "outstandingToOwner": 0.00
                    },
                    "price": {
                        "totalPrice": 299.00,
                        "depositPrice": 99.67,
                        "bookingFee": 20.00
                    },
                    "balance": {
                        "dueDate": "2011-07-30",
                        "amount": 0.00
                    },
                    "securityDeposit": {
                        "dueDate": "1900-01-01",
                        "amount": 0.00,
                        "paid": 0.00
                    }
                }
            ]
        }    


## Pricebands [/property/mousecott_SS/priceband/2013]

### Return an array of up to 26 price bands for a property for a specific year [GET]

+ Response 200 (application/json)

        {
            "2013": [
                {
                    "priceBand": "A",
                    "price" : 250.00
                },
                {
                    "priceBand": "B",
                    "price" : 350.00
                },
                {
                    "priceBand": "C",
                    "price" : 450.00
                },
                {
                    "priceBand": "D",
                    "price" : 550.00
                }
            ]
        }
                


## Date range pricing [/property/mousecott_SS/daterangeprice/2013]

### Date range pricing [GET]

Returns an array of the periods prices are applicable for a property for a specific year
including pre-defined periods such as Pre-Christmas, Christmas and New Year

+ Response 200 (application/json)

        {
            "2013": [
                {
                    "fromDate": "2013-01-01",
                    "toDate": "2013-02-05",
                    "dateRangeName": "",
                    "priceBand": "A",
                    "price" : 250.00
                },
                {
                    "fromDate": "2013-02-06",
                    "toDate": "2013-07-31",
                    "dateRangeName": "",
                    "priceBand": "B",
                    "price" : 350.00
                },
                {
                    "fromDate": "2013-08-01",
                    "toDate": "2013-12-20",
                    "dateRangeName": "",
                    "priceBand": "C",
                    "price" : 450.00
                },
                {
                    "fromDate": "2013-12-21",
                    "toDate": "",
                    "dateRangeName": "Pre-Christmas",
                    "priceBand": "D",
                    "price" : 550.00
                },
                {
                    "fromDate": "",
                    "toDate": "",
                    "dateRangeName": "Christmas",
                    "priceBand": "D",
                    "price" : 550.00
                },
                {
                    "fromDate": "",
                    "toDate": "",
                    "dateRangeName": "New Year",
                    "priceBand": "D",
                    "price" : 550.00
                }
            ]
        }


### Price type [OPTIONS]

Returns an array of the applicable priceetypes that can be used as an additional 
argument in the GET daterangeprice call (e.g. /property/mousecott_SS/daterangeprice/2013/{pricetype}

+ Response 200 (application/json)

        
        {
            "1D": "1 day",
            "1P": "1 day additional",
            "2D": "2 days",
            "2P": "2 days additional",
            "3P": "3 days additional",
            "4D": "4 days",
            "4P": "4 days additional",
            "5D": "5 days",
            "5P": "5 days additional",
            "6D": "6 days",
            "6P": "6 days additional",
            "7D": "Week",
            "SB": "Short Break"
        }
                

## Week pricing [/property/mousecott_SS/pricing/2013]

### Returns an array week pricing for the year. [GET]

+ Response 200 (application/json)

        
        {
            1: [
                {
                    weekStart: "2015-01-03",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-01-10",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-01-17",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-01-24",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-01-31",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            2: [
                {
                    weekStart: "2015-02-07",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-02-14",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-02-21",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-02-28",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            3: [
                {
                    weekStart: "2015-03-07",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-03-14",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-03-21",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-03-28",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            4: [
                {
                    weekStart: "2015-04-04",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-04-11",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-04-18",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-04-25",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            5: [
                {
                    weekStart: "2015-05-02",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-05-09",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-05-16",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-05-23",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-05-30",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            6: [
                {
                    weekStart: "2015-06-06",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-06-13",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-06-20",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-06-27",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            7: [
                {
                    weekStart: "2015-07-04",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-07-11",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-07-18",
                    weekPrice: 1698,
                    shortBreakPrice: 1189
                },
                {
                    weekStart: "2015-07-25",
                    weekPrice: 1698,
                    shortBreakPrice: 1189
                }
            ],
            8: [
                {
                    weekStart: "2015-08-01",
                    weekPrice: 1698,
                    shortBreakPrice: 1189
                },
                {
                    weekStart: "2015-08-08",
                    weekPrice: 1698,
                    shortBreakPrice: 1189
                },
                {
                    weekStart: "2015-08-15",
                    weekPrice: 1698,
                    shortBreakPrice: 1189
                },
                {
                    weekStart: "2015-08-22",
                    weekPrice: 1698,
                    shortBreakPrice: 1189
                },
                {
                    weekStart: "2015-08-29",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            9: [
                {
                    weekStart: "2015-09-05",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-09-12",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-09-19",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-09-26",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            10: [
                {
                    weekStart: "2015-10-03",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                weekStart: "2015-10-10",
                weekPrice: "Unavailable",
                shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-10-17",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-10-24",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-10-31",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            11: [
                {
                    weekStart: "2015-11-07",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-11-14",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-11-21",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-11-28",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ],
            12: [
                {
                    weekStart: "2015-12-05",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-12-12",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-12-19",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                },
                {
                    weekStart: "2015-12-26",
                    weekPrice: "Unavailable",
                    shortBreakPrice: "Unavailable"
                }
            ]
        }
                

## Week pricing [/property/mousecott_SS/pricing/2013/8]

### Returns an array week pricing for a given month in a year. [GET]

+ Response 200 (application/json)

        
        {
            [
                {
                    "weekStart": "2015-08-01",
                    "weekPrice": 1698,
                    "shortBreakPrice": 1189
                },
                {
                    "weekStart": "2015-08-08",
                    "weekPrice": 1698,
                    "shortBreakPrice": 1189
                },
                {
                    "weekStart": "2015-08-15",
                    "weekPrice": 1698,
                    "shortBreakPrice": 1189
                },
                {
                    "weekStart": "2015-08-22",
                    "weekPrice": 1698,
                    "shortBreakPrice": 1189
                },
                {
                    "weekStart": "2015-08-29",
                    "weekPrice": "Unavailable",
                    "shortBreakPrice": "Unavailable"
                }
            ]
        }
                

## Property descriptions [/property/mousecott_SS/description]

### Returns an array of descriptions of a property. [GET]

+ Response 200 (application/json)

        
        {
            [
                {
                    "descriptiontype": "TABSLONG",
                    "description": "Example tabslong description"
                },
                {
                    "descriptiontype": "TABSSHORT",
                    "description": "Example tabsshort description"
                }
            ]
        }
                

## Property available breaks [/property/mousecott_SS/availablebreaks]

### Returns combinations of availability and a guide price throughout the year. [GET]

+ Response 200 (application/json)

        
            [
                {
                    "fromdate": "2015-04-11",
                    "todate": "2015-04-12",
                    "days": "1",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-11",
                    "todate": "2015-04-13",
                    "days": "2",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-11",
                    "todate": "2015-04-14",
                    "days": "3",
                    "price": "406"
                },
                {
                    "fromdate": "2015-04-11",
                    "todate": "2015-04-15",
                    "days": "4",
                    "price": "433"
                },
                {
                    "fromdate": "2015-04-11",
                    "todate": "2015-04-16",
                    "days": "5",
                    "price": "460"
                },
                {
                    "fromdate": "2015-04-11",
                    "todate": "2015-04-17",
                    "days": "6",
                    "price": "487"
                },
                {
                    "fromdate": "2015-04-11",
                    "todate": "2015-04-18",
                    "days": "7",
                    "price": "541"
                },
                {
                    "fromdate": "2015-04-12",
                    "todate": "2015-04-13",
                    "days": "1",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-12",
                    "todate": "2015-04-14",
                    "days": "2",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-12",
                    "todate": "2015-04-15",
                    "days": "3",
                    "price": "406"
                },
                {
                    "fromdate": "2015-04-12",
                    "todate": "2015-04-16",
                    "days": "4",
                    "price": "433"
                },
                {
                    "fromdate": "2015-04-12",
                    "todate": "2015-04-17",
                    "days": "5",
                    "price": "460"
                },
                {
                    "fromdate": "2015-04-12",
                    "todate": "2015-04-18",
                    "days": "6",
                    "price": "487"
                },
                {
                    "fromdate": "2015-04-13",
                    "todate": "2015-04-14",
                    "days": "1",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-13",
                    "todate": "2015-04-15",
                    "days": "2",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-13",
                    "todate": "2015-04-16",
                    "days": "3",
                    "price": "406"
                },
                {
                    "fromdate": "2015-04-13",
                    "todate": "2015-04-17",
                    "days": "4",
                    "price": "433"
                },
                {
                    "fromdate": "2015-04-13",
                    "todate": "2015-04-18",
                    "days": "5",
                    "price": "460"
                },
                {
                    "fromdate": "2015-04-14",
                    "todate": "2015-04-15",
                    "days": "1",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-14",
                    "todate": "2015-04-16",
                    "days": "2",
                    "price": "379"
                },
                {
                    "fromdate": "2015-04-14",
                    "todate": "2015-04-17",
                    "days": "3",
                    "price": "406"
                },
                {
                    "fromdate": "2015-04-14",
                    "todate": "2015-04-18",
                    "days": "4",
                    "price": "433"
                }
            }
        ]

# Group Booking enquiry resources

## Create a booking enquiry [/booking-enquiry]

### Create a booking enquiry [POST]

+ Request (application/json)

        {
            "propertyRef": "mousecott",
            "brandCode": "SS",
            "fromDate": "2012-07-01",
            "toDate": "2012-07-08",
            "partySize": 5,
            "pets": 2
        }

+ Response 201 (application/json)

        {
            "id": "mousecott_ss",
            "propertyRef": "mousecott",
            "brandCode": "SS",
            "fromDate": "2012-07-01",
            "toDate": "2012-07-08",
            "partySize": 5,
            "pets": 2,
            "available": true,
            "price": {
                "outstandingBalance": 168.45,
                "basicPrice": 123.45,
                "extras": {
                    "PET": {
                        "quantity": 2,
                        "description": "Pet Fee",
                        "price": 10.00,
                        "totalPrice": 20.00,
                        "type": "compulsory"
                    },
                    "BKFE": {
                        "quantity": 1,
                        "description": "Booking Fee",
                        "price": 25.00,
                        "totalPrice": 25.00,
                        "type": "compulsory"
                    }
                },
                "totalPrice": 168.45,
                "securityDeposit": 100.00,
                "depositAmount": 100.00,
                "specialOffer": {
                  "saving": 0
                }
            }
        }

### Create a booking enquiry (when using tabsX2) [POST]

+ Request (application/json)

        {
            "propertyRef": "mousecott",
            "brandCode": "SS",
            "fromDate": "2012-07-01",
            "toDate": "2012-07-08",
            "partySize": 5,
            "pets": 2
        }

+ Response 201 (application/json)

        {
            "id": "mousecott_ss",
            "propertyRef": "mousecott",
            "brandCode": "SS",
            "fromDate": "2012-07-01",
            "toDate": "2012-07-08",
            "partySize": 5,
            "pets": 2,
            "available": true,
            "price": {
                "outstandingBalance": 168.45,
                "basicPrice": 123.45,
                "extras": {
                    "PET": {
                        "quantity": 2,
                        "description": "Pet Fee",
                        "price": 10.00,
                        "totalPrice": 20.00,
                        "type": "compulsory"
                    },
                    "BKFE": {
                        "quantity": 1,
                        "description": "Booking Fee",
                        "price": 25.00,
                        "totalPrice": 25.00,
                        "type": "compulsory"
                    }
                },
                "totalPrice": 168.45,
                "securityDeposit": 100.00,
                "depositAmount": 100.00,
                "specialOffer": {
                  "saving": 0
                },
                "securityDeposits": [
                    {
                        "id": null,
                        "amount": 14,
                        "dueindate": "2025-05-02",
                        "dueoutdate": "2025-05-30",
                        "propertysecuritydeposit": {
                            "id": 5,
                            "description": "£7.00 per person non-refundable",
                            "bookedfromdate": "2015-01-01",
                            "bookedtodate": "2026-01-01",
                            "holidayfromdate": "2025-01-01",
                            "holidaytodate": "2026-12-31",
                            "amount": 7,
                            "currency": {
                                "id": 1,
                                "code": "GBP",
                                "name": "Pound Sterling",
                                "decimalplaces": 2
                            },
                            "daysduein": 7,
                            "daysdueout": 14,
                            "refundable": true,
                            "peradult": true,
                            "perchild": true,
                            "perinfant": false,
                            "perperiod": true,
                            "pricingperiod": "Week",
                            "minimumdays": 0,
                            "maximumdays": 999,
                            "maximumdaysbeforeholiday": 9999,
[...]
